@import "../../shared/styles/common.styles.scss";

.sidebar-container {
  border-right: 1px solid grey;
  display: flex;
  flex-direction: column;
  background-color: $sidebar-back;
  color: $sidebar-text;
}

.sidbar-item {
  width: 3em;
  height: 3em;
  padding: 0.5em 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 1.5em;
  }
}
