@import "../../styles/common.styles.scss";

.pageLoader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($loader-back, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

// Estilos tomados de :
// https://projects.lukehaas.me/css-loaders/

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.35em solid rgba($loader-icon, 0.25);
  border-right: 0.35em solid rgba($loader-icon, 0.25);
  border-bottom: 0.35em solid rgba($loader-icon, 0.25);
  border-left: 0.35em solid rgba($loader-icon, 1);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}